<ion-content padding class="question">
  <div class="css-typing header">
    <p>Watch Closely</p>
  </div>

  <div class="video" *ngIf="showVideo">
    <ion-grid>
      <ion-row>
        <video
          #videoPlayer
          width="520"
          height="220"
          controls
          autoplay
          (ended)="showQuestions()"
        >
          <source src="./assets/videos/BondClip6.3gp" type="video/mp4" />
        </video>
      </ion-row>
      <ion-fab center bottom *ngIf="enableQuestions">
        <button ion-fab color="light" (click)="scrollToQuestion()">
          <ion-icon name="arrow-round-down"></ion-icon>
        </button>
      </ion-fab>
    </ion-grid>
  </div>

  <div #question class="questions" *ngIf="enableQuestions">
    <h4>
      Question #1: Which photo shows the exit that James Bond took to get away
      from the bad guys? Mind you, the picture is from our time, not then.
    </h4>
    <ion-grid>
      <ion-row>
        <ion-col
          [ngClass]="choosedAnswerA === 0 ? 'bg-selected' : ''"
          (click)="checkQuestion01(0)"
        >
          <h4>A) <img [src]="answersA[0]" /></h4>
        </ion-col>
        <ion-col
          [ngClass]="choosedAnswerA === 1 ? 'bg-selected' : ''"
          (click)="checkQuestion01(1)"
        >
          <h4>B) <img [src]="answersA[1]" /></h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          [ngClass]="choosedAnswerA === 2 ? 'bg-selected' : ''"
          (click)="checkQuestion01(2)"
        >
          <h4>C) <img [src]="answersA[2]" /></h4>
        </ion-col>
        <ion-col
          [ngClass]="choosedAnswerA === 3 ? 'bg-selected' : ''"
          (click)="checkQuestion01(3)"
        >
          <h4>D) <img [src]="answersA[3]" /></h4>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h4>
      Question #2: The parade that James bond is running through is called a
      Junkanoo Rush Out?
    </h4>
    <ion-grid>
      <ion-row>
        <ion-col
          [ngClass]="choosedAnswerB === 0 ? 'bg-selected' : ''"
          (click)="checkQuestion02(0)"
        >
          <h4>A){{ answersB[0] }}</h4>
        </ion-col>
        <ion-col
          [ngClass]="choosedAnswerB === 1 ? 'bg-selected' : ''"
          (click)="checkQuestion02(1)"
        >
          <h4>B) {{ answersB[1] }}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h4>
      Question #3: This scene is from which James Bond Movie?
    </h4>
    <ion-grid>
      <ion-row>
        <ion-col
          [ngClass]="choosedAnswerC === 0 ? 'bg-selected' : ''"
          (click)="checkQuestion03(0)"
        >
          <h4>A) <img [src]="answersC[0]" /></h4>
        </ion-col>
        <ion-col
          [ngClass]="choosedAnswerC === 1 ? 'bg-selected' : ''"
          (click)="checkQuestion03(1)"
        >
          <h4>B) <img [src]="answersC[1]" /></h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          [ngClass]="choosedAnswerC === 2 ? 'bg-selected' : ''"
          (click)="checkQuestion03(2)"
        >
          <h4>C) <img [src]="answersC[2]" /></h4>
        </ion-col>
        <ion-col
          [ngClass]="choosedAnswerC === 3 ? 'bg-selected' : ''"
          (click)="checkQuestion03(3)"
        >
          <h4>D)<img [src]="answersC[3]" /></h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
