page-question-seven {
  .header {
    p {
      font-size: 1.5em;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
    }
  }

  .fullsize-info {
    margin-left: 33%;
  }

  .video {
    width: 90%; /*or whatever % you prefer*/
    margin: 0 auto;
    display: block;
  }

  .questions {
    margin-top: 1.3em;
  }

  .bg-green {
    background-color: green;
  }

  .bg-red {
    background-color: red;
  }

  .bg-selected {
    background-color: rgb(219, 214, 214);
    border: think solid black;
    color: black;
  }

  img {
    width: 150px;
    height: 150px;
  }
}
