<ion-content padding  class="question">
    <timer class="hide"  #timer timeInSeconds="{{timerInSeconds}}"></timer>
    
      <div *ngIf="question_01">
        <h2>Question #1: Which STRUCTURE was seen in the background of this clip? </h2>
    
        <ion-list>
          <ion-item (click)="checkQuestion01('A')">
            <ion-thumbnail item-start>
              <img src="./assets/images/L7/Q1_A.JPG"/>
            </ion-thumbnail>
            <h3>A) East and Bay Liquor and Gift Shop</h3>    
          </ion-item>
          <ion-item (click)="checkQuestion01('B')">
            <ion-thumbnail item-start>
              <img src="./assets/images/L7/Q1_B.JPG"/>
            </ion-thumbnail>
            <h3>B) Athena Café</h3>    
          </ion-item>
          <ion-item (click)="checkQuestion01('C')">
            <ion-thumbnail item-start>
              <img src="./assets/images/L7/Q1_C.JPG"/>
            </ion-thumbnail>
            <h3>C)Smugglers Bar and Grill </h3>    
          </ion-item>
          <ion-item (click)="checkQuestion01('D')">
            <ion-thumbnail item-start>
              <img src="./assets/images/L7/Q1_D.JPG"/>
            </ion-thumbnail>
            <h3>D) Perfume Shop</h3>
          </ion-item>
        </ion-list>
      </div>
    
      <div *ngIf="!question_01">
        <h2>Question #2: True or False: The parade that James Bond was running through is called Junkanoo?</h2>
        <ion-list>
          <ion-item (click)="checkQuestion02('A')">
            <h3>A) True</h3>    
          </ion-item>
          <ion-item (click)="checkQuestion02('B')">
            <h3>B) False</h3>    
          </ion-item>    
        </ion-list>
      </div>
    </ion-content>