<ion-content padding class="question">
  <div class="css-typing header">
    <p>Watch Closely</p>
  </div>

  <div class="video" *ngIf="showVideo">
    <ion-grid>
      <ion-row>
        <video
          #videoPlayer
          width="520"
          height="220"
          controls
          autoplay
          (ended)="showQuestions()"
        >
          <source src="./assets/videos/BondClip5.3gp" type="video/mp4" />
        </video>
      </ion-row>
      <ion-fab center bottom *ngIf="enableQuestions">
        <button ion-fab color="light" (click)="scrollToQuestion()">
          <ion-icon name="arrow-round-down"></ion-icon>
        </button>
      </ion-fab>
    </ion-grid>
  </div>

  <div #question class="questions" *ngIf="enableQuestions">
    <h4>
      Question #1: Which STRUCTURE was seen in the background of the beginning
      of this clip?
    </h4>
    <ion-grid>
      <ion-row>
        <ion-col
          [ngClass]="choosedAnswerA === 0 ? 'bg-selected' : ''"
          (click)="checkQuestion01(0)"
        >
          <p>A) <img [src]="answersA[0].img" /></p>
          <p>{{ answersA[0].text }}</p>
        </ion-col>
        <ion-col
          [ngClass]="choosedAnswerA === 1 ? 'bg-selected' : ''"
          (click)="checkQuestion01(1)"
        >
          <p>B) <img [src]="answersA[1].img" /></p>
          <p>{{ answersA[1].text }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          [ngClass]="choosedAnswerA === 2 ? 'bg-selected' : ''"
          (click)="checkQuestion01(2)"
        >
          <p>C) <img [src]="answersA[2].img" /></p>
          <p>{{ answersA[2].text }}</p>
        </ion-col>
        <ion-col
          [ngClass]="choosedAnswerA === 3 ? 'bg-selected' : ''"
          (click)="checkQuestion01(3)"
        >
          <p>D) <img [src]="answersA[3].img" /></p>
          <p>{{ answersA[3].text }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h4>
      Question #2: What style of music are the men playing in this scene?
    </h4>
    <ion-grid>
      <ion-row>
        <ion-col
          [ngClass]="choosedAnswerB === 0 ? 'bg-selected' : ''"
          (click)="checkQuestion02(0)"
        >
          <h4>A) {{ answersB[0] }}</h4>
        </ion-col>
        <ion-col
          [ngClass]="choosedAnswerB === 1 ? 'bg-selected' : ''"
          (click)="checkQuestion02(1)"
        >
          <h4>B) {{ answersB[1] }}</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          [ngClass]="choosedAnswerB === 2 ? 'bg-selected' : ''"
          (click)="checkQuestion02(2)"
        >
          <h4>C) {{ answersB[2] }}</h4>
        </ion-col>
        <ion-col
          [ngClass]="choosedAnswerB === 3 ? 'bg-selected' : ''"
          (click)="checkQuestion02(3)"
        >
          <h4>D) {{ answersB[3] }}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
