<ion-content padding >
  <div class="modal-alert">
    <div  class="{{!pushed ? '' : 'hide'}}">
      <h2>Move to the pin #{{pin}} location and find this object in this photo</h2>
      <img [src]="img.img" class="object" />
      <button block ion-button (click)="push()">Push</button>
    </div>
    <div class="{{pushed ? '' : 'hide'}}">
      <h2 *ngIf="error" class="error">{{errorMsg}}</h2>
      <h3>Once you have found this object near the pin location, fill in the missing numbers or letters into the box below from the object in the photo</h3>
      <form (ngSubmit)="checkCode()">
          <div *ngIf="img.index == 0" class="insert-code">
            <span>S</span><ion-input  autocapitalize="characters"  #input placeholder="_ _" type="text" maxlength="2" [(ngModel)]="typedCode" name="code"></ion-input><span>P</span>
          </div>
          <div *ngIf="img.index == 1" class="insert-code scooter">
            <span>SC</span><ion-input  autocapitalize="characters"  #input placeholder="_ _ _" type="text" maxlength="3" [(ngModel)]="typedCode" name="code"></ion-input><span>ER</span>
          </div>
          <div *ngIf="img.index == 2" class="insert-code">
            <span>M</span><ion-input  autocapitalize="characters"  #input placeholder="_" type="text" maxlength="1" [(ngModel)]="typedCode" name="code"></ion-input>
          </div>
          <div *ngIf="img.index == 3" class="insert-code-large">
            <span>AU</span><ion-input  autocapitalize="characters"  #input placeholder="_ _ _ _ _" type="text" maxlength="5" [(ngModel)]="typedCode" name="code"></ion-input><span>KR</span>
          </div>
          <div *ngIf="img.index == 4" class="insert-code">
            <span>W</span><ion-input  autocapitalize="characters"  #input placeholder="_ _" type="text" maxlength="2" [(ngModel)]="typedCode" name="code"></ion-input><span>ER</span>
          </div>
          <div *ngIf="img.index == 5" class="insert-code-large">
            <span>BAHAM</span><ion-input  autocapitalize="characters"  #input placeholder="_ _ _   _ _" type="text" maxlength="7" [(ngModel)]="typedCode" name="code"></ion-input><span>NGS</span>
          </div>
        <button ion-button type="submit" block>check</button>
      </form>
    </div>
  </div>
</ion-content>