page-alert-modal {
    .modal-alert {
        margin: auto 0;
    }

    .object {
        width: 45%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .error {
        color: color($colors, red);
        text-align: center;
    }

    .scooter {
        ion-input {
            flex: 0.4;
            font-size: 1.5em;
            margin-right: -2em;
            margin-left: -2em;
            .text-input-md {
                margin: 0;            
                width: 30%;
            }
        }
    }

    .insert-code:not(.scooter) {
        ion-input {
            flex: 0.35;
            font-size: 1.5em;
            margin-right: -2em;
            margin-left: -2em;
            .text-input-md {
                margin: 0;            
                width: 30%;
            }
        }
    }

    .insert-code {
        display: flex;
        text-align: center;
        margin-top: 5em;
        margin-bottom: 5em;
        margin-left: 40%;        
        span {
            font-size: 1.5em;
        }
    }
    
    .insert-code-large {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 5em;
        margin-bottom: 5em;
        span {
            font-size: 1.5em;
        }
        ion-input {
            flex: 0.3;
            font-size: 1.5em;
            margin-right: -2em;
            .text-input-md {
                margin: 0;
                width: 80%;
            }
        }
    }

    .insert-code-super-large {
        display: flex;
        margin: 2.5em;
        span {
            font-size: 1.5em;
        }
        ion-input {
            flex: 0.7;
            font-size: 1.5em;
            .text-input-md {
                margin-left: 3px;
                margin-top: -3px;
                width: 25%;
            }
        }
    }
}
