<ion-content padding>
  <h4 text-center>Check your results!</h4>
  <ion-list *ngFor="let result of resume">
    <ion-item>
      Question : {{ result.question }}
      <ion-icon *ngIf="result.right" class="green" name="checkmark"></ion-icon>
      <ion-icon *ngIf="!result.right" class="red" name="close"></ion-icon>
    </ion-item>
    <!-- <ion-item>Time : {{question.timer}} </ion-item> -->
  </ion-list>
  <button ion-button block color="red" (click)="closeModal()" class="btn">
    Ok
  </button>
</ion-content>
