page-red-code {
  
    .insert-code {
        display: flex;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
        margin-left: 41%;
        font-size: 1.5em;
        margin-right: 30%;
        margin-top: 10%;
        margin-bottom: 10%;
        ion-input {
            flex: 0.3;
            .text-input-md {
                margin: 0;
            }
        }
        .first {
            flex: 0.2;
        }
    }


    .error {
        color: color($colors, red);
        text-align: center;
    }
    
}
