<ion-content padding class="question">
  <div class="css-typing header">
    <p>Watch Closely</p>
  </div>

  <div class="video" *ngIf="showVideo">
    <ion-grid>
      <ion-row>
        <video
          #videoPlayer
          width="90%"
          height="90%"
          controls
          autoplay
          (ended)="showQuestions()"
        >
          <source src="./assets/videos/BondClip1.3gp" type="video/mp4" />
        </video>
      </ion-row>
      <ion-fab center bottom *ngIf="showFabBtn">
        <button ion-fab color="light" (click)="scrollToQuestion(1)">
          <ion-icon name="arrow-round-down"></ion-icon>
        </button>
      </ion-fab>
    </ion-grid>
  </div>

  <div #question class="questions">
    <div class="question-1" *ngIf="!question1Disable">
      <h4>
        Question #1: There is a smoke stack on one of the cruise ships in the
        back ground with the letter “C” on it. What does the “C” stand for?
      </h4>
      <ion-grid>
        <ion-row>
          <ion-col
            [ngClass]="choosedAnswerA === 0 ? 'bg-green' : ''"
            (click)="checkQuestion01(0)"
          >
            <h4>A) {{ answersA[0] }}</h4>
          </ion-col>
          <ion-col
            [ngClass]="choosedAnswerA === 1 ? 'bg-red' : ''"
            (click)="checkQuestion01(1)"
          >
            <h4>B) {{ answersA[1] }}</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col
            [ngClass]="choosedAnswerA === 2 ? 'bg-red' : ''"
            (click)="checkQuestion01(2)"
          >
            <h4>C) {{ answersA[2] }}</h4>
          </ion-col>
          <ion-col
            [ngClass]="choosedAnswerA === 3 ? 'bg-red' : ''"
            (click)="checkQuestion01(3)"
          >
            <h3>D) {{ answersA[3] }}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <button
      ion-button
      round
      color="light"
      *ngIf="!question2Disable"
      (click)="scrollToQuestion(2)"
    >
      <ion-icon name="arrow-round-down"></ion-icon>
    </button>
    <div #question2 *ngIf="!question2Disable">
      <h4>
        Question #2: This is the last James Bond film this actor acted in. How
        many James Bond films did he act in total?
      </h4>
      <ion-grid>
        <ion-row>
          <ion-col
            [ngClass]="choosedAnswerB === 0 ? 'bg-green' : ''"
            (click)="checkQuestion02(0)"
          >
            <h4>A) {{ answersB[0] }}</h4>
          </ion-col>
          <ion-col
            [ngClass]="choosedAnswerB === 1 ? 'bg-red' : ''"
            (click)="checkQuestion02(1)"
          >
            <h4>B) {{ answersB[1] }}</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col
            [ngClass]="choosedAnswerB === 2 ? 'bg-red' : ''"
            (click)="checkQuestion02(2)"
          >
            <h4>C) {{ answersB[2] }}</h4>
          </ion-col>
          <ion-col
            [ngClass]="choosedAnswerB === 3 ? 'bg-red' : ''"
            (click)="checkQuestion02(3)"
          >
            <h4>D) {{ answersB[3] }}</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <button
    [disabled]="lastQuestion === false"
    block
    color="red"
    ion-button
    (click)="moveToNextPage()"
  >
    Next
  </button>
</ion-content>
