<ion-content padding class="question">
    <timer class="hide"  #timer timeInSeconds="{{timerInSeconds}}"></timer>
    <div *ngIf="question_01">
      <h2>Question #1: Which object was seen in the film clip? </h2>
  
      <ion-list>
        <ion-item (click)="checkQuestion01('A')">
          <ion-thumbnail item-start>
            <img src="./assets/images/L2/Q1_A.jpg"/>
          </ion-thumbnail>
          <h3>A) TUG BOAT</h3>    
        </ion-item>
        <ion-item (click)="checkQuestion01('B')">
          <ion-thumbnail item-start>
            <img src="./assets/images/L2/Q1_B.JPG"/>
          </ion-thumbnail>
          <h3>B) Starbucks Sign</h3>    
        </ion-item>
        <ion-item (click)="checkQuestion01('C')">
          <ion-thumbnail item-start>
            <img src="./assets/images/L2/Q1_C.JPG"/>
          </ion-thumbnail>
          <h3>C) Straw Market Sign</h3>    
        </ion-item>
        <ion-item (click)="checkQuestion01('D')">
          <ion-thumbnail item-start>
            <img src="./assets/images/L2/Q1_D.JPG"/>
          </ion-thumbnail>
          <h3>D) Police Station</h3>
        </ion-item>
      </ion-list>
    </div>
  
    <div *ngIf="!question_01">
      <h2>What letter was on the cruise ship in the back ground of this scene?</h2>
      <ion-list>
        <ion-item (click)="checkQuestion02('A')">
          <h3>A) The Letter D</h3>    
        </ion-item>
        <ion-item (click)="checkQuestion02('B')">
          <h3>B) The Letter B</h3>    
        </ion-item>
        <ion-item (click)="checkQuestion02('C')">
          <h3>C) The Letter C</h3>    
        </ion-item>
        <ion-item (click)="checkQuestion02('D')">
          <h3>D) The Letter S</h3>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>